<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/basic.css">
    <script src="record.js"></script>
    <script src="melody.js"></script>
    <script type="text/javascript">
        function disposeModels() {
            record.disposeModels();
            melody.disposeModels();
        }
        function compose() {
            let types = document.getElementsByName("GeneratorStyle");
            let selectedType = "Basic";
            types.forEach((t) => {
                if (t.checked) {
                    selectedType = t.value;
                }
            });
            melody.runMusicRnn(record.melody, selectedType);
        }
    </script>
</head>

<body class="container" onbeforeunload="disposeModels()" onload="record.initCanvas()">
    <header>
        <h1> Music from ambient sounds </h1>
    </header>
    <main>
        <div class="row-container" style="max-width: 900px;">
            <div class="column-container" style="flex-grow: 3; margin: 0.4em;">
                <div class="recorder">
                    <div class="player-container" style="align-items: center;">
                        <button disabled id="recordBtn" onclick="record.record()">Record</button>
                        <canvas id="sound-visualization" class="sound-visualization-canvas"></canvas>
                    </div>
                    <audio id="recordPlayer"></audio>
                    <code id="record-results"></code>
                </div>
                <div class="composer">
                    <button disabled id="startRnn" onclick="compose()">Make music</button>
                    <p>Choose style:
                        <% styles.forEach(function(style) { %>
                        <input type="radio" name="GeneratorStyle" value=<%= style.id %>><%= style.name %></input>
                        <% }); %>
                    </p>
                    <p><b>Input NoteSequence: </b><code id="melody-cont-inputs"></code></p>
                    <p><b>Result: </b><code id="melody-cont-results"></code></p>
                </div>
            </div>
            <div style="width: 0.5em; background-color: magenta; margin: 0.4em;"></div>
            <div class="column-container" style="margin: 0.em;">
                <div class="status-message-container">
                    <h3>Status</h3>
                    <span class="status-message" id="ready-msg" style="visibility:hidden;">Ready</span>
                    <span id="status-messages"></span>
                </div>
                <hr width=100% />
                <div class="status-message-container">
                    <h3>What is this?</h3>
                    <span class="status-message">
                        This is a toy page where I try a few
                        <a href="https://magenta.tensorflow.org/">Magenta</a> tools for generating
                        Music automatically.
                    </span>
                </div>
            </div>
        </div>
    </main>
</body>

</html>