<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/basic.css">
    <script src="http://localhost:3000/record.js"></script>
    <script src="http://localhost:3000/melody.js"></script>
    <script type="text/javascript">
        function disposeModels() {
            record.disposeModels();
            melody.disposeModels();
        }
    </script>
</head>

<body class="container" onbeforeunload="disposeModels()">
    <header>
        <h2> Music from Sounds </h2>
        <p>Made with <%= hello %></p>
    </header>
    <main>
        <div>
            <span id="oafa-model-loading-status" style="visibility:inline;">Loading oafA Model</span>
            <br />
            <span id="rnn-model-loading-status" style="visibility:inline;">Loading RNN Models</span>
        </div>
        <div class="musicmaker">
            <p> Record some sounds:
                <button disabled id="recordBtn" onclick="record.record()">Record</button>
                <audio id="recordPlayer"></audio>
            </p>
            <canvas id="sound-visualization" height="60px"></canvas>
            <code id="record-results"></code>
            <p></p>

            <ul>
                <% styles.forEach(function(style) { %>
                <li><%= style.name %></li>
                <% }); %>
            </ul>
            <button disabled id="startRnn" onclick="melody.runMelodyRnn(record.melody)">Play music</button>

            <p><b>Input NoteSequence: </b><code id="melody-cont-inputs"></code></p>
            <p><b>Result: </b><code id="melody-cont-results"></code></p>
        </div>
    </main>
</body>

</html>